/*
 *  @(#) $Id: logtask.cfg 823 2008-03-18 13:02:11Z hiro $
 */

/*
 *		�V�X�e�����O�^�X�N�̃R���t�B�M�����[�V�����t�@�C��
 */

#include "syssvc/logtask.h"
CRE_TSK(LOGTASK, { TA_ACT, LOGTASK_SERIALID, logtask_main,
						LOGTASK_PRIORITY, LOGTASK_STACK_SIZE, NULL });
ATT_TER({ TA_NULL, 0, logtask_terminate });
